<h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">{{ config.title_block__title_second }}</span>
    <span class="site-heading-lower">{{ config.title_block__title_primary }}</span>
</h1>